<section id="about" class="about">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
          <p>
            Rocky Road Solutions is an Information Technology Consulting
            organization with deep expertise in delivering solutions to its
            clients in the areas like
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Application Development
            </li>
            <li><i class="ri-check-double-line"></i> Product Support</li>
            <li><i class="ri-check-double-line"></i> Business Intelligence</li>
          </ul>
        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <p>
            Rocky Road Solutions is an Information Technology Consulting
            company. We bring together ideas, knowledge and expertise and
            leverage them with our professional services, to help them provide
            best of the solutions and services to compete in the fast growing
            global markets. All growing organizations face the overwhelming
            tasks of identifying, transforming, organizing and leveraging
            information assets within their enterprise or across the industry. .
            We, at Rocky Road Solutions, takes up the challenges and efforts
            required on customer's end. Besides understanding the technologies
            required to make this happen, we understand the business driving
            forces and values derived from these solutions.
          </p>
          <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
        </div>
      </div>
    </div>
  </section>