<!-- ======= Header ======= -->
<app-header></app-header>

<!-- ======= Hero Section ======= -->
<app-hero></app-hero>
<!-- End Hero -->

<main id="main">
  <!-- ======= Clients Section ======= -->
  <app-clients></app-clients>
  <!-- End Clients Section -->

  <!-- ======= About Us Section ======= -->
  <app-aboutus></app-aboutus>
  <!-- End About Us Section -->

  <!-- ======= Counts Section ======= -->
  <app-counts></app-counts>
  <!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <app-services></app-services>
  <!-- End Services Section -->

  <!-- ======= More Services Section ======= -->
  <app-moreservices></app-moreservices>
  <!-- End More Services Section -->

  <!-- ======= Features Section ======= -->
  <app-features></app-features>
  <!-- End Features Section -->

  <!-- ======= Testimonials Section ======= -->
  <app-testimonials></app-testimonials>
  <!-- End Testimonials Section -->

  <!-- ======= Portfolio Section ======= -->
  <app-portfolio></app-portfolio>
  <!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <app-teams></app-teams>
  <!-- End Team Section -->

  <!-- ======= Pricing Section ======= -->
  <app-pricing></app-pricing>
  <!-- End Pricing Section -->

  <!-- ======= F.A.Q Section ======= -->
  <app-faq></app-faq>
  <!-- End F.A.Q Section -->

  <!-- ======= Contact Section ======= -->
  <app-contact></app-contact>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
<app-footer></app-footer>
